<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/stylesheets/navigation.css">
	<link rel="stylesheet" href="/stylesheets/form.css">
</head>
<body>
<div class="topnav">
  <a class="active" href="/parks">Home</a>
  <a href="/parks/new">New Park</a>
  <a href="/logout">Logout</a>
</div>
		<h1><a>Park Details</a></h1>
		<form action="/parks/<%= @park.id %>" method="POST">
  		<input type="hidden" name="_method" id="hidden" value="PATCH">
			<p>Enter the data from the National Park:</p>
		<div>
			<input id="name" name="name" value="<%= @park.name %>"  type="text" maxlength="255" value=""/> 
		</div> 
		<div>
			<input id="city" name="city" value="<%= @park.city %>" type="text" maxlength="255" value=""/> 
		</div> 
		<div>
			<input id="state" name="state" value="<%= @park.state %>" type="text" maxlength="255" value=""/> 
		</div> 
		<div>
			<input id="date_visited" name="date_visited" value="<%= @park.date_visited %>" type="text" maxlength="255" value=""/> 
		</div> 
		<div>
			<input id="notes" name="notes"  type="text" placeholder="Notes:" value="<%= @park.notes %>"> 
		<br>
		<br>
			<button type="submit" id="submit">Submit</button>
		</form>	
	</body>
</html>