<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/stylesheets/page_styles.css">
	<link rel="stylesheet" href="/stylesheets/signup.css">
</head>
<body>
<div class="topnav">
  <a class="active" href="/parks">Home</a>
  <a href="/parks/new">New Park</a>
  <a href="/account">Account</a>
  <a href="/logout">Logout</a>
</div>
		<h1><a>Park Details</a></h1>
		<form action="/parks/<%=@id%>/edit" method="POST">
  		<input type="hidden" name="_method" id="hidden" value="PATCH">
			<p>Enter the data from the National Park:</p>
			<% flash.each do |name, msg| %>
				<div class="error">
				<em style="color:red;font-size:12px;" > <%= msg %> </em>
			  </div>
			<% end %>
		<div>
			<input id="name" name="name" value="<%= @park.name %>"  type="text" placeholder="Name:"/> 
		</div> 
		<div>
			<input id="city" name="city" value="<%= @park.city %>" type="text" placeholder="City:"/>  
		</div> 
		<div>
			<input id="state" name="state" value="<%= @park.state %>" type="text" placeholder="State:"/>  
		</div> 
		<div>
			<input id="date_visited" name="date_visited" value="<%= @park.date_visited %>" type="text" placeholder="Date Visited:"/>
		</div> 
		<div>
			<textarea placeholder="Notes:" id="notes" name="notes" value=''> <%= @park.notes %></textarea>
		<br>
		<br>
		<input type="submit" class="submit_button" value="Submit">
		</form>	
        <% if @park.errors.any? %>
		<ul>
			<% @park.errors.full_messages.each do |err| %>
				<li> <em style="color:red;font-size:12px;" > <%= err %> </em></li>
			<% end %>
		</ul>
		<% end %>
	</body>
</html>