<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/stylesheets/page_styles.css">
    <link rel="stylesheet" href="/stylesheets/banner.css">
</head>
<body>
<div class="topnav">
  <a class="active" href="/parks">Home</a>
  <a href="/parks/new">New Park</a>
  <a href="/account">Account</a>
  <a style="float: right;" href="/logout">Logout</a>
</div><br>
<div class="container">
  <img src="images/forest_banner.jpg" alt="forest" width="100%" height="10%" style="border-radius: 6px">
  <div class="centered"><h1>Welcome <%=Helpers.name(session)%></h1></div>
</div>

<% if @parks.empty? %>
    <h1>Click below to add your first park:</h1>
    <br>
    <a href='/parks/new' class="myButton">Click To Get Started</a><br>
<% else %>
    <h1>Here are your visited parks:</h1><br>
    <% @parks.each_with_index do |park, index| %>
    <ol>
      <li> <h3><%= park.name %></h3></li>
      <li> <h4>Visited On: <%= park.date_visited %> </h4></li>
      <li> <h4> <%=park.city%>, <%=park.state%> </h4> </li>
    </ol><br>
    <a href='/parks/<%=index + 1%>' class="myButton">See Details</a>
    <br>
  <h3>  --------------------------------------------------- </h3>
    <% end %>
<% end %>


</body>
</html>