<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/stylesheets/page_styles.css">
</head>
<body>
<div class="topnav">
  <a class="active" href="/parks">Home</a>
  <a href="/parks/new">New Park</a>
  <a href="/account">Account</a>
  <a href="/logout">Logout</a>
</div>
<br>
    <h1> <%=@park.name%></h1>
    <h3> City: </h3> <%=@park.city%>
    <h3> State: </h3> <%=@park.state%> 
    <h3> Date Visited: </h3> <%=@park.date_visited %>
    <br>
    <br>
    <h4>Notes:</h4>
    <br>
    <p> <%=@park.notes%> </p>
    <br>
    <br>
    <a href='/parks/<%=@park.id%>/edit' class="myButton">Edit Park Details</a><br>
    <form action="/parks/<%=@park.id%>/delete" method="POST">
        <input type="hidden" name="_method" id="hidden" value="DELETE">
        <input type='submit' class="delete_button" value= 'Delete Park'>
    </form>
    </body>
    
</html>