<!DOCTYPE html>
<html lang="en">
<head>
    <title>
    </title>
</head>
<body>
    <h1> <%=@park.name%> -- <%=@park.id%> </h1>
    <br>
    <h3> City: <%=@park.city%> <h3>
    <br>
    <h3> State: <%=@park.state%> <h3>
    <br>
    <h3> Date Visited: <%=@park.date_visited %></h3>
    <br>
    <h4>Notes:</h4>
    <p> <%=@park.notes%> </p>
</body>
</html>