<!DOCTYPE html>
<html lang="en">
<head>
    <title>
    </title>
</head>
<body>
    <h1> <%=@park.name%></h1>
    <br>
    <h3> City: <%=@park.city%> <h3>
    <br>
    <h3> State: <%=@park.state%> <h3>
    <br>
    <h3> Date Visited: <%=@park.date_visited %></h3>
    <br>
    <h4>Notes:</h4>
    <br>
    <p> <%=@park.notes%> </p>
    <br>
    <br>
    <a href='/parks/<%=@park.id%>/edit'><button>Edit Park Details</button></a> -- 
    <a href='/parks'><button>Back to all parks</button></a>
</body>
</html>